.clear{ height:0; line-height: 0; width:100%; overflow: hidden; clear:both }
.left-line{ border-left:solid 1px #cdcdcd }
.btm-line{ border-bottom : solid 1px #cdcdcd}
.fr{ float : right}
.fl{ float : left}
.blank20{ width:100%; height:20px; line-height: 0; overflow: hidden; clear: both}
.blank10{ width:100%; height:10px; line-height: 0; overflow: hidden; clear: both}
