ul.img-queue li {
  margin-top: 10px;
}
ul.img-queue li a img {
  width: 100%;
}
ul.img-queue li p {
  font-size: 12px;
  color: #121212;
}
.right-win {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
  padding-right: 10px;
  padding-left: 10px;
}
.blog-list {
  margin-top: 10px;
}
.blog-list li.first a img {
  float: left;
  margin-right: 10px;
}
.blog-list li.first h4 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
}
.blog-list li.first p {
  color: #999;
  font-size: 12px;
}
.blog-list li a {
  font-size: 12px;
  color: #044E8E;
}
.connect-links {
  margin-bottom: 10px;
}
.connect-links h3 {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
}
.connect-links ul li {
  margin-bottom: 10px;
}
.news h3 {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.news ol {
  margin-left: 10px;
  padding: 0;
}
.news ol li {
  color: #333;
  font-size: 12px;
}
