i[class*='icon_'] {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../../image/sprite/weigou.png);
}
.icon_cart {
  margin-top: 10px;
  background-size: 211px;
  background-position: -113px -109px;
  width: 24px;
  height: 22px;
}
.icon_icenter {
  margin-top: 10px;
  background-position: -92px -109px;
  background-size: 211px;
  width: 21px;
  height: 22px;
}
.icon_home {
  margin-top: 10px;
  background-position: -47px -109px;
  background-size: 211px;
  width: 24px;
  height: 22px;
}
.icon_goback {
  margin-top: 10px;
  background-position: -71px -109px;
  background-size: 211px;
  width: 21px;
  height: 22px;
}
