<!DOCTYPE >
<html >
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/poker.css" rel="stylesheet" type="text/css" />
<body >
<!--头部公共开始-->
<!--页眉-->
<?php echo $header;?>

<h3 class=""> QQ登陆成功 </h3>
<script>
    setTimeout(function(){
        parent.location.reload();
        var userAgent = navigator.userAgent;
        if (userAgent.indexOf("Firefox") != -1 || userAgent.indexOf("Presto") != -1) {
            window.location.replace("about:blank");
            window.open('','_parent','');

            window.close();
        } else {
            window.opener = null;
            window.open("", "_self");
            window.close();
        }
    },3000);

</script>
<!--头部公共结束-->

<?php echo $footer;?>
</body></html>