<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/footer.js"></script>
        <!--
<div id="footer"
     class="footer"
     ng-controller="footerController">
    <ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
        <li id="poker"><a href="<?php echo baseUrl; ?>/app/poker">折腾</a></li>
        <li id="essay"><a href="<?php echo baseUrl; ?>/app/essay">美文</a></li>
        <li id="doll"><a href="<?php echo baseUrl; ?>/app/doll">玩偶</a></li>
        <li id="comment"><a  href="<?php echo baseUrl; ?>/app/comment">漫评</a></li>
    </ul>
</div>
        -->
<!-- 广告位 -->
<script type="text/javascript">
    /*960*90 创建于 2015-10-08*/
    var cpro_id = "u2342061";
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

<!-- 百度统计 -->
<div style="display:none">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F49271e302dc268b0cc288894fa578892' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>

