<!--logo+搜索-->
<div id="header_1" class="bd-b" >
    <div class=" row">
        <div class="large-3 medium-2 columns">
            <a class="logo "  style="margin-top:20px">
                <img class="p-t10" src="<?php echo baseUrl; ?>/app/view/images/logo.png" width="80" />

            </a>
            <p class="ft-12 t-c"> qq群：316387163</p>
        </div>
        <div class="large-6 medium-6 columns">
            <div class="blank20 p-t10 show-for-medium-up"></div>
            <div class="search_big">
                <div class="fl wth-80">

                    <input name="keyword" type="text" value="" class="wth-80 fl"/>
                </div>
                <button  class="fl wth-20 search-btn">搜索</button>
                <div class="clear"></div>
                <div class="hotwords">热门搜索：

                    <a >海贼王</a>
                    <a >火影</a>

                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="large-2 medium-2 columns show-for-medium-up t-r">
            <img width="120" src="<?php echo baseUrl; ?>/app/view/images/qq_group.png"/>
        </div>
    </div>

    <div class="row nav">
        <ul>
            <li><a href="<?php echo baseUrl; ?>/app/essay">首页</a></li>
            <li><a href="<?php echo baseUrl; ?>/app/comment">漫评</a></li>
            <li><a href="<?php echo baseUrl; ?>/app/essay">文学</a></li>
            <li><a href="<?php echo baseUrl; ?>/app/news">动态</a></li>
            <li><a href="<?php echo baseUrl; ?>/app/web">漫界排名</a></li>
            <li><a href="<?php echo baseUrl; ?>/app/gift">礼物</a></li>
        </ul>
    </div>

</div>