<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>漫客商城 - 你身边的动漫商店1</title>
    <!-- -->
    <link href="/foundation/css/foundation.min.css" rel="stylesheet" type="text/css" />

    <link href="<?php echo baseUrl; ?>/app/view/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/app/view/css/index2.css" rel="stylesheet" type="text/css" />
    <script src="/js/angular/angular.min.js"></script>
    <script src="/app/view/js/app/controller/poker.js"></script>
</head>