<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta property="qc:admins" content="756703666765163116375" />
    <title>漫客小屋</title>
    <meta name="keywords" content="漫客,小屋,漫客,小屋,动漫,周边,淘宝,礼品,海贼王,火影忍者">
    <meta name="description" content="漫客小屋 - 你身边的动漫驿站,动漫迷的聚集地">
    <link href="<?php echo baseUrl; ?>/foundation/css/foundation.min.css" rel="stylesheet" type="text/css" />

    <link href="<?php echo baseUrl; ?>/app/view/css/header.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>/app/view/css/common.css" rel="stylesheet" type="text/css" />
    <script src="<?php echo baseUrl; ?>/js/angular/angular.min.js"></script>
    <script>
        var baseUrl = "<?php echo baseUrl; ?>";
    </script>
    <script type="text/javascript"
            src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js"
            data-appid="101197313" data-redirecturi="http://www.mankaa.com/app/qq/connect" charset="utf-8"></script>
</head>
