<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>漫客小屋 - 你身边的动漫驿站</title>
    <link href="<?php echo baseUrl; ?>/foundation/css/foundation.min.css" rel="stylesheet" type="text/css" />

    <link href="<?php echo baseUrl; ?>/app/view/css/header.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>/app/view/css/common.css" rel="stylesheet" type="text/css" />
    <script src="<?php echo baseUrl; ?>/js/angular/angular.min.js"></script>
    <script>
        var baseUrl = "<?php echo baseUrl; ?>";
    </script>
    <!-- 百度统计 -->
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F49271e302dc268b0cc288894fa578892' type='text/javascript'%3E%3C/script%3E"));
    </script>
</head>
