<!DOCTYPE >
<html ng-app="comic-app">
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/essay.css" rel="stylesheet" type="text/css" />
<link href="<?php echo baseUrl; ?>/app/view/css/web.css" rel="stylesheet" type="text/css" />
<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/web.js"></script>
<body ng-controller="webController">
<?php echo $header;?>

<div class="row">
    <div class=" bd-b column"  >
        <ul class="web-list">
            <li class="" ng-repeat="item in websites" >
                <a class='img {{item.active}}' ng-mouseover="changeWebsite(item)" >
                    <img ng-src="{{item.img}}" alt="" title="{{item.name}}" />
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    Under Construction ...
</div>

<?php echo $footer;?>
</body>
</html>