<!DOCTYPE >
<html ng-app="gift-app">
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/gift.css" rel="stylesheet" type="text/css" />
<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/gift.js"></script>
<body ng-controller="giftDetailController">
<?php echo $header;?>
<input type="hidden" id="tao-id" value="<?php echo $tao_id ?>" />
<div class="gift-detail row" >


    <div class="small-8 medium-8 large-8 columns gift-main"  >

        <div class="author">
            <img class="photo" src="http://img02.taobaocdn.com/bao/uploaded/i2/13633031051401441/T1uFibXBphXXXXXXXX_!!0-item_pic.jpg_310x310.jpg" alt="" />
            <span class="text">由<i>漫客小屋</i>发布</span>
        </div>
        <div class="item">
            <div class="pic">
                <div class="show">
                    <img src="{{imgShow}}"
                         width="298" height="198" alt=""/>
                </div>
                <ul class="gallery">

                    <li ng-repeat="itemImg in tao.imgGroup" ng-click="selectImg(itemImg)">
                        <img src="{{itemImg.small}}" width="298" height="198" alt=""/>
                    </li>

                </ul>

            </div>
            <div class="attribute">
                <h3 class="name">{{tao.title}}</h3>
                <div class="blank20"></div>
                <div class="purchase">
                    <span class="price">
                        ￥{{tao.final_price}}
                    </span>
                    <span class="shop">
                        {{tao.shop}}
                    </span>
                    <a class="buy" target="_blank" href="{{tao.url}}">
                        购买
                    </a>
                </div>
                <div class="blank20"></div>
                <div class="actions">
                    <span class="like">{{tao.like_count}}</span>
                    <span class="share">分享</span>
                </div>
            </div>
            <div class="clear"></div>

        </div>
        <div class="message hide">

            <ul>

                <li class="item">

                    <div class="customer">
                        <img class="photo" src="http://img3.douban.com/icon/u25592769-44.jpg" alt=""/>
                        <span  class="name">木法沙</span>
                        <span  class="time">2015-03-29</span>

                    </div>
                    <div class="talk">
                        <span class="content">
                            这个产品不错啊这个产品不错啊,这个产品不错啊这个产品不错啊, 这个产品不错啊这个产品不错啊
                            这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊
                            产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊</span>
                        <span class="action">回复</span>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="item">

                    <div class="customer">
                        <img class="photo" src="http://img3.douban.com/icon/u25592769-44.jpg" alt=""/>
                        <span  class="name">木法沙</span>
                        <span  class="time">2015-03-29</span>

                    </div>
                    <div class="talk">
                        <span class="content">
                            这个产品不错啊这个产品不错啊,这个产品不错啊这个产品不错啊, 这个产品不错啊这个产品不错啊
                            这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊
                            产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊</span>
                        <span class="action">回复</span>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="item">

                    <div class="customer">
                        <img class="photo" src="http://img3.douban.com/icon/u25592769-44.jpg" alt=""/>
                        <span  class="name">木法沙</span>
                        <span  class="time">2015-03-29</span>

                    </div>
                    <div class="talk">
                        <span class="content">
                            这个产品不错啊这个产品不错啊,这个产品不错啊这个产品不错啊, 这个产品不错啊这个产品不错啊
                            这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊
                            产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊</span>
                        <span class="action">回复</span>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>

        </div>
    </div>
    <div class="small-3 medium-3 large-3 columns aside" ng-controller="asideController">
        正在施工...
    </div>
</div>

<?php echo $footer;?>
</body>
</html>