<!DOCTYPE >
<html ng-app="gift-app">
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/gift.css" rel="stylesheet" type="text/css" />
<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/gift.js"></script>
<body ng-controller="giftController">
<?php echo $header;?>

<div class="gift-detail row" >


    <div class="small-8 medium-8 large-8 columns gift-main" ng-controller="detailController">

        <div class="author">
            <img class="photo" src="http://img02.taobaocdn.com/bao/uploaded/i2/13633031051401441/T1uFibXBphXXXXXXXX_!!0-item_pic.jpg_310x310.jpg" alt="" />
            <span class="text">由<i>克里斯提娜</i>发布</span>
        </div>
        <div class="item">
            <div class="pic">
                <div class="show">
                    <img src="http://img02.taobaocdn.com/bao/uploaded/i2/13633031051401441/T1uFibXBphXXXXXXXX_!!0-item_pic.jpg_310x310.jpg"
                         width="298" height="198" alt=""/>
                </div>
                <ul class="gallery">
                    <li>
                        <img src="http://img02.taobaocdn.com/bao/uploaded/i2/13633031051401441/T1uFibXBphXXXXXXXX_!!0-item_pic.jpg_310x310.jpg"
                             width="298" height="198" alt=""/>
                    </li>
                    <li>
                        <img src="http://img02.taobaocdn.com/bao/uploaded/i2/13633031051401441/T1uFibXBphXXXXXXXX_!!0-item_pic.jpg_310x310.jpg"
                             width="298" height="198" alt=""/>
                    </li>
                </ul>

            </div>
            <div class="attribute">
                <h3 class="name">商品名称</h3>
                <div class="blank20"></div>
                <div class="purchase">
                    <span class="price">
                        ￥168.24
                    </span>
                    <span class="shop">
                        天猫
                    </span>
                    <a class="buy" href="http://www.mankaa.com">
                        购买
                    </a>
                </div>
                <div class="blank20"></div>
                <div class="actions">
                    <span class="like">24</span>
                    <span class="share">分享</span>
                </div>
            </div>
            <div class="clear"></div>

        </div>
        <div class="message">

            <ul>

                <li class="item">

                    <div class="customer">
                        <img class="photo" src="http://img3.douban.com/icon/u25592769-44.jpg" alt=""/>
                        <span  class="name">木法沙</span>
                        <span  class="time">2015-03-29</span>

                    </div>
                    <div class="talk">
                        <span class="content">
                            这个产品不错啊这个产品不错啊,这个产品不错啊这个产品不错啊, 这个产品不错啊这个产品不错啊
                            这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊
                            产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊</span>
                        <span class="action">回复</span>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="item">

                    <div class="customer">
                        <img class="photo" src="http://img3.douban.com/icon/u25592769-44.jpg" alt=""/>
                        <span  class="name">木法沙</span>
                        <span  class="time">2015-03-29</span>

                    </div>
                    <div class="talk">
                        <span class="content">
                            这个产品不错啊这个产品不错啊,这个产品不错啊这个产品不错啊, 这个产品不错啊这个产品不错啊
                            这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊
                            产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊</span>
                        <span class="action">回复</span>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="item">

                    <div class="customer">
                        <img class="photo" src="http://img3.douban.com/icon/u25592769-44.jpg" alt=""/>
                        <span  class="name">木法沙</span>
                        <span  class="time">2015-03-29</span>

                    </div>
                    <div class="talk">
                        <span class="content">
                            这个产品不错啊这个产品不错啊,这个产品不错啊这个产品不错啊, 这个产品不错啊这个产品不错啊
                            这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊
                            产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊这个产品不错啊</span>
                        <span class="action">回复</span>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>

        </div>
    </div>
    <div class="small-3 medium-3 large-3 columns aside" ng-controller="asideController">
        正在施工...
    </div>
</div>

<?php echo $footer;?>
</body>
</html>