<!DOCTYPE >
<html ng-app="gift-app">
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/gift.css" rel="stylesheet" type="text/css" />
<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/gift.js"></script>
<body ng-controller="giftController">
<?php echo $header;?>

<div class="gift row">
    <div class="small-12 medium-12 large-12 columns">
        <ul class="gift-list small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            <li id="tao-{{single.tao_id}}" class="item" ng-repeat="single in gift">
                <div >
                    <a class="img-mask" target="_blank" href="/app/gift/detail/{{single.tao_id}}">
                        <img src="{{single.img}}" alt=""/>
                    </a>
                    <h3>
                        <a href="/app/gift/detail/{{single.tao_id}}" target="_blank">
                            {{single.title}}
                        </a>
                    </h3>

                    <div class="attribute">
                        <span class="shop {{single.source}}"></span>
                        <span class="price">￥{{single.price}}</span>
                        <span class="like">{{single.like_count}}</span>
                        <span class="discount">{{single.discount}}折</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row more-btn" ng-click="getMoreGift()">
    <h3>{{moreStatus.text}}</h3>
</div>
<?php echo $footer;?>
</body>
</html>