<!DOCTYPE >
<html >
{$head}
<link href="/app/view/css/gift.css" rel="stylesheet" type="text/css" />
<!--<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/gift.js"></script>-->
<body ng-controller="squadListController">
{$header}
<div class="row squad-list">

    <div class="small-12 media-9 large-9 columns">
        {foreach from=$list item=li}


        <div class="squad-item" >
            <a href="/app/gift/squad/{$li.squad_id}" class="picture" >
                <!--<img src="http://img02.taobaocdn.com/bao/uploaded/i2/T16coGFq0fXXXXXXXX_!!0-item_pic.jpg_310x310.jpg"-->
                     <!--alt="" />-->
                <img src="{$li.photo}"  alt="" />
            </a>

            <div class="text">
                <h3>
                    <a href="/app/gift/squad/{$li.squad_id}">
                        {$li.title}
                    </a>
                </h3>
                <p>
                    {$li.description}
                </p>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="small-12 media-3 large-3 columns">
        <div class="connect-qq bd-b">
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=80bd854c11a283ac779a9f44cb4e4487129cc79f3118c4009fdd5ec685bd0b05">
                <img src="/app/view/images/qq.jpg" alt="" width="50" height="50" />
            </a>
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=80bd854c11a283ac779a9f44cb4e4487129cc79f3118c4009fdd5ec685bd0b05">
                <span>
                    漫客群：316387163
                </span>
            <!--    <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="漫客小屋" title="漫客小屋">-->
            </a>
        </div>
        <div class="connect-sina ">
            <img src="/app/view/images/sina.png" alt="" width="50" height="50" />
            <span>
                <a href="http://weibo.com/mankaa" target="_blank">漫客小屋微博</a>
            </span>
        </div>
    </div>
</div>
{$footer}
</body>
</html>