<!DOCTYPE >
<html ng-app="gift-app">
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/gift.css" rel="stylesheet" type="text/css" />
<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/gift.js"></script>
<body ng-controller="squadController">
<?php echo $header;?>
<div class="row squad">
    <input type="hidden" id="squad-id" value="<?php echo $squad_id; ?>"/>
    <div class="small-12 media-9 large-9 columns bd-r">

        <div class="gift" ng-repeat="tao in taos">
            <ul class="img-group small-block-grid-1 medium-block-grid-4 large-block-grid-4 ">
                <li ng-repeat="img in tao.imgGroup">
                    <a href="/app/gift/detail/{{tao.tao_id}}">
                        <img src="{{img.big}}" alt="{{tao.title}}" />
                    </a>
                </li>

            </ul>

            <p>{{tao.title}}</p>
        </div>

    </div>
    <div class="small-12 media-3 large-3 columns">
        <div class="connect-qq bd-b">
            <img src="/app/view/images/qq.jpg" alt="" width="50" height="50" />
            <span>
                漫客群：316387163
            </span>
        </div>
        <div class="connect-sina ">
            <img src="/app/view/images/sina.png" alt="" width="50" height="50" />
            <span>
                <a href="http://weibo.com/mankaa" target="_blank">漫客小屋微博</a>
            </span>
        </div>
    </div>
</div>
<?php echo $footer;?>
</body>
</html>