<!DOCTYPE >
<html ng-app="gift-app">
<{$head}>
<link href="/app/view/css/gift.css" rel="stylesheet" type="text/css" />
<script src="/app/view/js/app/controller/gift.js"></script>
<body ng-controller="squadController">
<{$header}>
<div class="row squad">
    <input type="hidden" id="squad-id" value="<{$squad_id}>"/>
    <div class="small-12 media-9 large-9 columns bd-r">
        <div class="gift-info">
            <h3 class="title">
                <{$squad.title}>
            </h3>
            <div class="description">
                <{$squad.description}>
            </div>
        </div>
        <{foreach from=$taos item=tao}>
        <div class="gift" >
            <ul class="img-group small-block-grid-1 medium-block-grid-4 large-block-grid-4 ">
                <{foreach from=$tao.imgGroup item=img}>
                <li >
                    <a href="/app/gift/detail/<{$tao.tao_id}>">
                        <img src="<{$img.big}>" alt="<{$tao.title}>" />
                    </a>
                </li>
                <{/foreach}>
            </ul>

            <p><{$tao.title}></p>
        </div>
        <{/foreach}>


        <div class="shop-window">
            <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
                <li>
                    <a href="http://s.click.taobao.com/cZKIYcx"
                       target="_blank"
                            title="卡通熊猫龙猫抱枕 猴子公仔手捂暖手筒暖手抱枕毛绒玩具新年礼物">
                        <img src="http://img04.taobaocdn.com/bao/uploaded/i4/TB1japRGVXXXXaVXXXXXXXXXXXX_!!0-item_pic.jpg" alt=""/>
                    </a>
                    <p>
                        卡通熊猫龙猫抱枕 猴子公仔手捂暖手筒暖手抱枕毛绒玩具新年礼物
                    </p>
                </li>
                <li>
                    <a href="http://s.click.taobao.com/UkGIYcx" target="_blank"
                       title="大脸猫毛绒玩具 大号玩偶猫可爱抱枕公仔猫咪布偶娃娃 生日礼物女">
                        <img src="http://img01.taobaocdn.com/bao/uploaded/i1/TB1p4XpHFXXXXcrXpXXXXXXXXXX_!!0-item_pic.jpg" alt=""/>
                    </a>
                    <p>大脸猫毛绒玩具 大号玩偶猫可爱抱枕公仔猫咪布偶娃娃 生日礼物女</p>
                </li>
                <li>
                    <a href="http://s.click.taobao.com/fWHIYcx" target="_blank"
                       title="毛绒玩具大抱熊泰迪熊布娃娃抱抱熊玩偶1.6米公仔抱枕生日礼物女">
                        <img src="http://img01.taobaocdn.com/bao/uploaded/i1/TB1ZO0KIpXXXXX7aXXXXXXXXXXX_!!0-item_pic.jpg" alt=""/>

                    </a>
                    <p>毛绒玩具大抱熊泰迪熊布娃娃抱抱熊玩偶1.6米公仔抱枕生日礼物女</p>
                </li>
                <li>
                    <a href="http://s.click.taobao.com/H0HIYcx" target="_blank"
                       title="猴子毛绒玩具儿童玩偶布娃娃创意猴年吉祥物公仔元宵节活动礼品">
                        <img src="http://img03.taobaocdn.com/bao/uploaded/i3/TB1OrVqLpXXXXXJapXXXXXXXXXX_!!0-item_pic.jpg" alt=""/>

                    </a>
                    <p>猴子毛绒玩具儿童玩偶布娃娃创意猴年吉祥物公仔元宵节活动礼品</p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>



        <div class="comment">
            <div class="title">大家在说:</div>
            <ul class="list">
                <li ng-repeat="item in comment">
                    <div class="customer-info">
                        <a class="photo">
                            <img class="" src="/app/view/images/qq.jpg" alt="" />
                        </a>

                        <span class="name" ng-bind="item.name"></span>
                        <span class="date" ng-bind="item.name"></span>
                    </div>
                    <p class="content"  ng-bind="item.content"></p>
                </li>
                <!--
                <li class="item in repeat ">
                    <div class="customer-info">
                        <a class="photo">
                            <img class="" src="/app/view/images/qq.jpg" alt="" />
                        </a>

                        <span class="name">漫客</span>
                        <span class="date">2015-05-10 12:30</span>
                    </div>
                    <p class="content">喜欢这个礼物，感觉还不错，有机会入手一个.喜欢这个礼物，感觉还不错，有机会入手一个.</p>
                </li>
                <li class="item in repeat ">
                    <div class="customer-info">
                        <a class="photo">
                            <img class="" src="/app/view/images/qq.jpg" alt="" />
                        </a>

                        <span class="name">漫客</span>
                        <span class="date">2015-05-10 12:30</span>
                    </div>
                    <p class="content">喜欢这个礼物，感觉还不错，有机会入手一个.喜欢这个礼物，感觉还不错，有机会入手一个.</p>
                </li>
                <li class="item in repeat ">
                    <div class="customer-info">
                        <a class="photo">
                            <img class="" src="/app/view/images/qq.jpg" alt="" />
                        </a>

                        <span class="name">漫客</span>
                        <span class="date">2015-05-10 12:30</span>
                    </div>
                    <p class="content">喜欢这个礼物，感觉还不错，有机会入手一个.喜欢这个礼物，感觉还不错，有机会入手一个.</p>
                </li>
                -->
            </ul>
            <div class="edit">
                <textarea ng-keypress="doComment($event)" cols="30" rows="10" ng-model="comment_content"></textarea>
            </div>
        </div>

    </div>
    <div class="small-12 media-3 large-3 columns">
        <div class="connect-qq bd-b">
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=80bd854c11a283ac779a9f44cb4e4487129cc79f3118c4009fdd5ec685bd0b05">
                <img src="/app/view/images/qq.jpg" alt="" width="50" height="50" />
            </a>
            <a target="_blank"
               href="http://shang.qq.com/wpa/qunwpa?idkey=80bd854c11a283ac779a9f44cb4e4487129cc79f3118c4009fdd5ec685bd0b05">
                <span>
                    漫客群：316387163
                </span>
                <!--    <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="漫客小屋" title="漫客小屋">-->
            </a>
        </div>
        <div class="connect-sina ">
            <img src="/app/view/images/sina.png" alt="" width="50" height="50" />
            <span>
                <a href="http://weibo.com/mankaa" target="_blank">漫客小屋微博</a>
            </span>
        </div>

        <{$template_rank}>


    </div>
</div>
<{$footer}>
</body>
</html>