<!DOCTYPE >
<html ng-app="essay-app">
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/essay.css" rel="stylesheet" type="text/css" />
<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/essay.js"></script>
<body ng-controller="essayController">
<?php echo $header;?>

<div class="row p-t20">
    <div class="small-12 medium-6 large-4 columns bd-r essay" ng-controller="articleController">
        <ul >
            <li ng-repeat="art in articles">
                <div class="photo">
                    <img src="{{art.cover_photo}}" alt=""/>
                </div>
                <div class="content">
                    <span >{{art.title}}</span>
                    <!--<span class="time">{{art.public_time}}</span>-->
                </div>

                <div class="clear"></div>
            </li>
        </ul>

    </div>
    <div class="small-12 medium-6 large-5 columns bd-r news" ng-controller="newsController">

        <dl ng-repeat="item in news">
            <dt><a href="{{item.url}}">{{item.title}}</a></dt>
            <dd>{{item.public_date}}</dd>
        </dl>

    </div>
    <div class="small-12 medium-6  large-3 columns">
        <!--
        <ul>
            <li><a href="">游戏排名版块：正在制作中请耐心等待...</a></li>
        </ul>
        -->
    </div>
</div>

</body>
</html>