<!DOCTYPE >
<html ng-app="essay-app">
<?php echo $head;?>
<link href="<?php echo baseUrl; ?>/app/view/css/essay.css" rel="stylesheet" type="text/css" />
<script src="<?php echo baseUrl; ?>/app/view/js/app/controller/essay.js"></script>
<body ng-controller="essayController">
<?php echo $header;?>

<div class="row p-t20">
    <div class="small-12 medium-6 large-4 columns bd-r essay" ng-controller="articleController">
        <ul >
            <li ng-repeat="art in articles">
                <div class="photo">
                    <img src="{{art.cover_photo}}" alt=""/>
                </div>
                <div class="content">
                    <span >{{art.title}}</span>
                    <!--<span class="time">{{art.public_time}}</span>-->
                </div>

                <div class="clear"></div>
            </li>
        </ul>

    </div>
    <div class="small-12 medium-6  large-5 columns comments" ng-controller="commentController">
        <ul class="list">
            <li ng-repeat="item in comments" title="{{item.title}}">
                <a class="cover" href="{{item.href}}"><img src="{{item.img}}" alt=""/></a>
                <div class="word">
                    <h3><a href="{{item.href}}" >{{item.title}}</a></h3>

                    <p><a href="{{item.href}}">{{item.desc}}</a></p>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="small-12 medium-6 large-3 columns bd-l news" ng-controller="newsController">

        <dl ng-repeat="item in news">
            <dt><a href="{{item.url}}">{{item.title}}</a></dt>
            <dd>{{item.public_date}}</dd>
            <div class="clear"></div>
        </dl>
        <div class="more"><a href="<?php echo baseUrl;?>/app/news">更多</a></div>
        <div class="taobao">
            <a class="QR_Code" href="{{taobao.link}}" target="_blank" >
                <img src="{{taobao.QR_Code}}" alt="" />
            </a>
        <span >
            <a class='link' href="{{taobao.link}}" target="_blank">
                漫客小屋店铺
            </a>欢迎您的光临
        </span>
            <span>
                <!--<a href="weixin://contacts/profile/gh_65a3b480f565">青岛市北家庭服务</a>-->
                <a onclick="weixinAddContact('gh_65a3b480f565')">青岛市北家庭服务</a>
            </span>
        </div>
        <script>
            function weixinAddContact(name){
                alert(name);
                WeixinJSBridge.invoke("addContact", <{
                    appId : "wxaac2357db32e6f64",
                    webtype: "1",
                    username: name
                }>, function(e) {
                    WeixinJSBridge.log(e.err_msg);
                    //e.err_msg:add_contact:added 已经添加
                    //e.err_msg:add_contact:cancel 取消添加
                    //e.err_msg:add_contact:ok 添加成功
                    alert(e.err_msg);
                    if(e.err_msg == 'add_contact:added' || e.err_msg == 'add_contact:ok')<{
                        //关注成功，或者已经关注过
                        alert(e.err_msg);
                    }>
                })
            }
        </script>
    </div>

</div>
<?php echo $footer;?>
</body>
</html>