.lottery-bg{
  background: url("../assets/img/skin/lottery_bg.jpg") center top repeat-x #D97B01;
  width:100%;
  height:1200px;
  margin:0 auto;
}
/*.navigation_container{
  background: url("../assets/img/skin/lottery_header_bg.png");
  #init-lottery{
    color: #808080;
    margin-top: 49px;
    text-align: right;
  }
}*/

/*.lottery-logo{
  background: url("../assets/img/skin/lottery_logo.png");
  width: 194px;
  height: 85px;
  display: block;
}*/


.lottery-title{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  line-height: 2;
}
#imgContainer{
  margin:10 auto;
  width:1200px;
}
.lucky-dog-list{

    .lucky-dog{
      img{
        width:160px;
        height:auto
      }

      p{
        font-size:14px
      }

      h3{
        font-size:16px
      }
      float:left;
      margin:10px;
      text-align: center;
    }

    width:600px;
    height:auto;
    overflow: hidden;
    margin:10px auto
}
.lottery-btn{
  width:410px;

  margin:10px auto;
  .lottery-start{
    padding:10px
  }
  .lottery-stop{
    padding:10px
  }

}