<!DOCTYPE >
<html ng-app="poker-app">
<?php echo $header;?>

<link href="/app/view/css/poker.css" rel="stylesheet" type="text/css" />

<body ng-controller="pokerController">
<!--头部公共开始-->
<!--页眉-->



<!--logo+搜索-->
<div id="header_1">
    <div class="header_top Id">
        <div class="mantou"></div>
        <a class="logo" href="/" style="margin-top:20px">
            <img src="/app/view/images/logo.png" width="80" />
        </a>
        <!--搜索-->
        <div class="search_big">
            <form >
                <input name="keyword" type="text" value="" class="text"/>
                <input type="button" class="button" value="搜索" />
            </form>
            <div class="clear"></div>
            <div class="hotwords">热门搜索：

                <a >海贼王</a>
                <a >火影</a>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-3 medium-4 columns">

        <h3>动漫名称：</h3>

        <ul>
            <li ng-repeat="item in comics">
                <span class="item-{{item.comic_id}}" ng-click="getComicRole(this.item)">{{item.name}}</span>
            </li>
        </ul>
        <ul>
            <li ng-repeat="item in comicRoles">
                <span class="item-{{item.comic_id}}-{{item.role_id}}" >{{item.name}}</span>
            </li>
        </ul>

    </div>
    <div class="large-9 medium-8 columns">

        <div class="poker-suit-ctl"  ng-controller="pokerSuitCtl">
            <dl class="sub-nav poker-suit">
                <dt>扑克花色:</dt>
                <dd class="{{item.activeClass}}"
                    ng-repeat="item in pokerSuit"
                    ng-click="getPokerBySuit(this.item)"><a>{{item.name}}-{{item.ename}}</a></dd>

            </dl>
            <p class="poker-suit-descrption">
                扑克花色描述
            </p>

            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" >
                <li ng-repeat="item in suitPoker">
                    <img ng-src="/app/view/images/comic/{{item.image}}" >
                    <span class="comic-name">{{item.comic_name}}</span>
                    <span class="comic-role-name">{{item.name}}</span>
                    <span class="comic-role-description">{{item.description}}</span>
                </li>

            </ul>
        </div>

        <div class="voteCtl">

            <dl class="sub-nav poker-comic">
                <dt>动漫:</dt>
                <dd class="{{item.activeClass}}"
                    ng-repeat="item in comics"
                    ng-click="getComicRole(this.item)"
                        ><a>{{item.name}}</a></dd>

            </dl>

            <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-10" >
                <li ng-repeat="item in comicRoles"
                        ng-click="vote(this.item)">
                    <img ng-src="/app/view/images/comic/{{item.image}}" >
                    <span class="item-{{item.comic_id}}-{{item.role_id}}">{{item.name}}</span>

                </li>

            </ul>
        </div>


    </div>

</div>

<!--头部公共结束-->


</body></html>