<!DOCTYPE >
<html ng-app="poker-app">
<?php echo $header;?>

<link href="<?php echo baseUrl; ?>/app/view/css/poker.css" rel="stylesheet" type="text/css" />

<body ng-controller="pokerController">
<!--头部公共开始-->
<!--页眉-->



<!--logo+搜索-->
<div id="header_1">
    <div class="header_top Id">
        <div class="mantou"></div>
        <a class="logo" href="/" style="margin-top:20px">
            <img src="<?php echo baseUrl; ?>/app/view/images/logo.png" width="80" />
        </a>
        <!--搜索-->
        <div class="search_big">
            <form >
                <input name="keyword" type="text" value="" class="text"/>
                <input type="button" class="button" value="搜索" />
            </form>
            <div class="clear"></div>
            <div class="hotwords">热门搜索：

                <a >海贼王</a>
                <a >火影</a>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="row p-t20">

    <div class="large-3 medium-2 columns bd-r min-h-500">
        <img class="th" src="<?php echo baseUrl; ?>/app/view/images/suit/spades.png" />
        <h6 class="bd-b l-h2">
            黑桃代表长矛，象征武力<br/>
            请选出你认为最锋利的矛
            <div class="ft-12 color-red">只有一次机会哦~</div>
        </h6>

        <!--
                <h4>动漫类型：</h4>
        -->
        <ul class="inline-list ft-12">
            <li ng-repeat="item in comicTypes" class="item-{{item.comic_type_id}}"><a >{{item.name}}</a></li>

        </ul>

    </div>


    <div class="large-5 medium-5 columns bd-r">

        <div class="voteCtl" ng-controller="voteCtl">

            <dl class="sub-nav poker-comic  bd-b">
                <!--
                <dt>动漫:</dt>
                -->
                <dd class="{{item.activeClass}}"
                    id="comic-{{item.comic_id}}"
                    ng-repeat="item in comics"
                    ng-click="getComicRole(this.item)"
                        ><a>{{item.name}}</a></dd>

            </dl>

            <ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2" >
                <li class="comic-role" ng-repeat="item in comicRoles"
                    ng-click="vote(this.item)">
                    <img title="请点击投票，只有一次机会哦~" ng-src="<?php echo baseUrl; ?>/app/view/images/comic/{{item.image}}" >
                    <span class="item-{{item.comic_id}}-{{item.role_id}}">{{item.name}}</span>

                </li>

            </ul>
        </div>

    </div>
    <div class="large-4 medium-5 columns">

        <div class="poker-suit-ctl"  ng-controller="pokerSuitCtl">

            <ul class="small-block-grid-5">
                <li ng-repeat="item in pokerSuit" ng-click="getPokerBySuit(item)">
                    <img class="th" ng-src="<?php echo baseUrl; ?>/app/view/images/{{item.image}}" />
                </li>
            </ul>
            <p class="poker-suit-descrption  bd-b">
                {{selectedPokerSuitDesc}}
            </p>

            <ul class="comic-role small-block-grid-1 medium-block-grid-2 large-block-grid-3" >
                <li ng-repeat="item in suitPoker" title="{{item.comic_name}}">
                    <img ng-src="<?php echo baseUrl; ?>/app/view/images/comic/{{item.image}}" >
                    <span class="name">{{item.name}}({{item.vote_count}}票)</span>
                    <!--
                    <span class="comic-role-name">{{item.name}}</span>
                    <span class="comic-role-description">{{item.description}}</span>
                    -->
                </li>

            </ul>
        </div>



    </div>

</div>

<!--头部公共结束-->


</body></html>