.comic{
  margin-top:20px;
  .content{

    .basic-info{
      .format{
        float:left;
        table{
          width:100%;
        }
      }
      .cover{
        float:left;
      }
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom:solid 1px #cdcdcd;
    }

    .recommend{
      text-align: left;
      h3{

        span{

        }
      }
      .description{

        .title{

        }
        p{
          text-indent: 20px;
        }

      }
    }


  }
}