.essay{
  ul{
    li{
      text-align:left;
      font-size:12px;
      position:relative;
      margin:0 0 15px 0;
      height:auto;
      .photo{
        float:left;
        width:80px;
        height:80px;
        overflow: hidden;
//        border: 1px solid #cdcdcd;
        padding:2px;
        img{
          min-height: 80px;
          min-height:80px;
          border-radius: 5px;

        }
      }
      .content{
//        position: absolute;
        margin-left:90px;
        span{
          &time{
            text-align:right
          }
        }
      }
    }

  }
}
.news{
  dl{
    text-align:left;
    dt{
      display: block;
      width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      float: left;
    }
    dd{
      display: block;
      width: 15%;
      float: left;
    }
  }

}