.gift{

  ul.gift-list{

    li{
      &.item{

        &>div{
          position:relative;
          width:310px;
          height:350px;
          border:solid 1px #cdcdcd;
          border-radius: 5px;
          overflow:hidden;
          margin:20px 0;
          &:hover{
            -webkit-transition:all .5s ease 0s;
            -moz-transition:all .5s ease 0s;
            -o-transition:all .5s ease 0s;

            -moz-transform:translate(0px,-5px);
            -webkit-transform:translate(0px,-5px);
            -o-transform:translate(0px,-5px);
            -ms-transform:translate(0px,-5px);
            transform:translate(0px,-5px);

            -webkit-box-shadow:0 5px 10px rgba(67,72,84,.3);
            -moz-box-shadow:0 5px 10px rgba(67,72,84,.3);
            -o-box-shadow:0 5px 10px rgba(67,72,84,.3);
            box-shadow:0 5px 10px rgba(67,72,84,.3)
          }
          .img-mask{
            width:100%;
            height:240px;
//            height:140px;
            display: block;
            overflow:hidden;

            img{
              width:100%;
              display: block;
            }
          }

          h3{
            padding: 5px 10px;
            line-height: 2;
            text-align: left;
            a{
//              color: #333;
              font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
              color: #985D3C;
              font-size:13px;
              font-weight:bold;

            }
          }
          .attribute{
            position:absolute;
            width:100%;

            bottom:10px;
            right:5px;
            span{
              display:inline-block;
              width:22%;
            }
            .tmall{
              background-image: url('../images/taobao/shop_source.png');
              background-repeat: no-repeat;
              background-position: 0px 0px;
              width:24px;
              height:18px;
              overflow: hidden;
            }
            .tao{
              background-repeat: repeat-x;
              background-image: url('../images/taobao/shop_source.png');
              background-position: 102px 0px;
              width:24px;
              height:18px;
              overflow: hidden;
            }
            .price{

            }
            .like{
              background-image: url('../images/taobao/like.png');
              background-repeat: no-repeat;
              background-position: 0px 5px;
              padding-left:18px;
            }
            .discount{

            }
          }
        }
      }

    }
  }

}
.more-btn{

  h3{
    border:solid 1px #cdcdcd;
    border-radius: 5px;
    cursor:pointer;
    margin:0 15px;
    padding:5px 0;
  }
}