.gift{

  ul.gift-list{

    li{
      &.item{

        div{

          width:310px;
          height:350px;
          border:solid 1px #cdcdcd;
          border-radius: 5px;
          overflow:hidden;
          margin:20px 0;
          &:hover{
            -webkit-transition:all .5s ease 0s;
            -moz-transition:all .5s ease 0s;
            -o-transition:all .5s ease 0s;

            -moz-transform:translate(0px,-5px);
            -webkit-transform:translate(0px,-5px);
            -o-transform:translate(0px,-5px);
            -ms-transform:translate(0px,-5px);
            transform:translate(0px,-5px);

            -webkit-box-shadow:0 5px 10px rgba(67,72,84,.3);
            -moz-box-shadow:0 5px 10px rgba(67,72,84,.3);
            -o-box-shadow:0 5px 10px rgba(67,72,84,.3);
            box-shadow:0 5px 10px rgba(67,72,84,.3)
          }
          .img-mask{
            width:100%;
            height:140px;
            display: block;
            overflow:hidden;

            img{
              width:100%;
              display: block;
            }
          }

          h3{
            font-size: 18px;
            padding: 15px;

            line-height: 25px;
            text-align: left;
            a{
              color: #333;
              font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
            }
          }

        }
      }

    }
  }

}