.gift{

  ul.gift-list{

    li{
      &.item{

        &>div{
          position:relative;
          width:310px;
          height:350px;
          border:solid 1px #cdcdcd;
          border-radius: 5px;
          overflow:hidden;
          margin:20px 0;
          &:hover{
            -webkit-transition:all .5s ease 0s;
            -moz-transition:all .5s ease 0s;
            -o-transition:all .5s ease 0s;

            -moz-transform:translate(0px,-5px);
            -webkit-transform:translate(0px,-5px);
            -o-transform:translate(0px,-5px);
            -ms-transform:translate(0px,-5px);
            transform:translate(0px,-5px);

            -webkit-box-shadow:0 5px 10px rgba(67,72,84,.3);
            -moz-box-shadow:0 5px 10px rgba(67,72,84,.3);
            -o-box-shadow:0 5px 10px rgba(67,72,84,.3);
            box-shadow:0 5px 10px rgba(67,72,84,.3)
          }
          .img-mask{
            width:100%;
            height:240px;
//            height:140px;
            display: block;
            overflow:hidden;

            img{
              width:100%;
              display: block;
            }
          }

          h3{
            padding: 5px 10px;
            line-height: 2;
            text-align: left;
            a{
//              color: #333;
              font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
              color: #985D3C;
              font-size:13px;
              font-weight:bold;

            }
          }
          .attribute{
            position:absolute;
            width:100%;

            bottom:10px;
            right:5px;
            span{
              display:inline-block;
              width:22%;
            }
            .tmall{
              background-image: url('../images/taobao/shop_source.png');
              background-repeat: no-repeat;
              background-position: 0px 0px;
              width:24px;
              height:18px;
              overflow: hidden;
            }
            .tao{
              background-repeat: repeat-x;
              background-image: url('../images/taobao/shop_source.png');
              background-position: 102px 0px;
              width:24px;
              height:18px;
              overflow: hidden;
            }
            .price{

            }
            .like{
              background-image: url('../images/taobao/like.png');
              background-repeat: no-repeat;
              background-position: 0px 5px;
              padding-left:18px;
            }
            .discount{

            }
          }
        }
      }

    }
  }

}
.more-btn{

  h3{
    border:solid 1px #cdcdcd;
    border-radius: 5px;
    cursor:pointer;
    margin:0 15px;
    padding:5px 0;
  }
}

.gift-detail{

  padding-top:20px;
  .columns{
    border:solid 1px #cdcdcd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5);
    -moz-box-shadow: 0 1px 2px 0 rgba(158,158,158,0.5);
    -ms-box-shadow: 0 1px 2px 0 rgba(158,158,158,0.5);
    box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5);
  }
  .gift-main{


    .author{
      text-align: left;
      .photo{
        width:48px;
        height:48px;
        border-radius: 24px;
        margin-right:20px;
      }
      .text{
          color:#999;
          font-size:14px;
        i{
          padding:0 5px;
          font-style:normal;
          color:#7F4B2F;

        }
      }
    }
    .item{
      .pic{
        float:left;
        width:50%;
        .show{

        }
        .gallery{
          width:100%;
          li{
            width:50px;
            height:50px;
            border:solid 1px #cdcdcd;

            float:left;
            cursor:pointer;
            padding:1px;
            margin:0 10px;
            img{
              width:46px;
              height:46px;
            }
          }
        }
      }
      .attribute{
        float:left;
        width:45%;
        margin-left:10px;
        .name{
          text-align:left;
        }
        .purchase{
          text-align:left;
          span,a{
            display:inline-block;
            font-size:12px;
            color:#999;
            line-height:2;
            &.price{

            }
            &.shop{
              padding-left:10px;
              margin-left:10px;
              border-left:solid 1px #999;
            }
            &.buy{
              border:solid 1px #999;
              padding:0px 14px;
              float:right;
              border-radius:2px;
            }

          }

        }
        .actions{
          font-size:12px;
          color:#999;
          text-align:left;
          span,a{
            display:inline-block;
            line-height:2;
            cursor:pointer;
            &.like{
              width:70px;
              background-image: url("../images/taobao/heart.png");
              background-repeat:no-repeat;
              padding-left:24px;

            }
            &.share{

            }
          }

        }
      }

    }
    .message{
      margin-top:20px;
      border-top:solid 1px #cdcdcd;

      ul{
        li{
          &.item{
            text-align:left;
            font-size:13px;
            padding:10px 0;
            line-height:1.67;
            border-top:solid 1px #cdcdcd;
            &:first-child{
              border-top:none;
            }
            .customer{

              margin:0 0 10px 0;
              .photo{
                width:48px;
                height:48px;
                border-radius:24px;
                float:left;
                margin-right:10px;
              }
              .name{
                color:#985D3E;
                text-align:left;
              }
              .time{
                float:right;
                color:#999;

              }
            }

            .talk{
              overflow: hidden;
              .content{

              }
              .action{
                float:right;
                color:#985D3E;
                cursor: pointer;
              }
            }

          }
        }
      }
    }
  }

  .aside{
    padding:20px 0 20px 10px;

  }
}
.squad{
  margin-top:20px;
  .gift{

    .img-group{
      border-bottom:solid 1px #cdcdcd;
      img{
        border: solid 1px #CDCDCD;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
        -moz-box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
        -o-box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
        box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
      }
    }
    p{
      font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
      color: #985D3C;
      font-size: 14px;
      line-height: 2;
    }
  }

}
.connect-qq,.connect-sina{
  text-align:left;
  margin-bottom:20px;
  padding-bottom:20px;
  line-height:50px;
  img{
    border:solid 1px #cdcdcd;
  }
  span{
    margin-left:10px;
    font-size:14px;
  }
  clear:both;
}

.squad-list{
  margin-top:20px;
  .squad-item{
    clear:both;
    padding-top:10px;
//    padding-bottom:10px;
    margin-bottom:10px;
    border-top:solid 1px #cdcdcd;
    overflow: hidden;
    &:first-child{
      border-top:none;
      padding-top:0;
    }
    .picture{
      display:block;
      width:200px;
      height:200px;
      float:left;
      overflow: hidden;
      margin-right:10px;
    }
    .text{
      overflow: hidden;
      h3{
        a{
          color:#0079a1;
        }
      }
      p{
        text-indent: 30px;
        font-size:14px;
      }
    }
  }
}

@media only screen and (max-width: 40.063em) {
  .squad-item{
    .picture{
      width:100%!important;
      text-align: center;
    }
    .text{
      width:100%;
    }
  }

}

