.comic {
  margin-top: 20px;
}
.comic .content .basic-info {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #cdcdcd;
}
.comic .content .basic-info .format {
  float: left;
}
.comic .content .basic-info .format table {
  width: 100%;
}
.comic .content .basic-info .cover {
  float: left;
}
.comic .content .recommend {
  text-align: left;
}
.comic .content .recommend .description p {
  text-indent: 20px;
}
.search {
  height: 80px;
  border: solid 1px #cdcdcd;
}
.search input {
  width: 80%;
  margin-top: 20px;
  margin-left: 50px;
}
.list {
  margin-top: 20px;
}
.list ul {
  margin: 0;
  padding: 0;
}
.list ul li {
  float: left;
  width: 230px;
  height: 220px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: solid 1px #cdcdcd;
}
.list ul li .img {
  height: 180px;
  overflow: hidden;
}
.list ul li .img a img {
  width: 100%;
}
