.essay ul {
  margin: 0;
  padding: 0;
}
.essay ul li {
  text-align: left;
  font-size: 12px;
  position: relative;
  margin: 0 0 5px 0;
  height: 80px;
  overflow: hidden;
}
.essay ul li .photo {
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
}
.essay ul li .photo img {
  min-height: 80px;
  max-width: 160px;
  min-width: 80px;
}
.essay ul li .content {
  height: 80px;
  margin-left: 90px;
  overflow: hidden;
}
.essay ul li .content span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.essay ul li .content spantime {
  text-align: right;
}
.news dl {
  text-align: left;
  line-height: 2;
}
.news dl dt {
  display: block;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  font-size: 14px;
}
.news dl dd {
  display: block;
  width: 15%;
  float: right;
  font-size: 12px;
}
.news .taobao {
  border-top: solid 1px #cdcdcd;
}
.news .taobao .QR_Code {
  display: block;
}
.news .taobao .QR_Code img {
  width: 100%;
}
.news .taobao span {
  text-align: center;
}
.news .taobao .link {
  color: #fb421c;
}
.comments {
  text-align: left;
}
.comments ul {
  margin: 0;
  padding: 0;
}
.comments ul.list li {
  margin: 0 0 19px 0;
}
.comments ul.list li .cover {
  display: block;
  width: 20%;
  float: left;
}
.comments ul.list li .cover img {
  width: 100%;
  border-radius: 5px;
}
.comments ul.list li .word {
  margin-left: 10px;
  position: relative;
  top: 0;
  display: block;
  float: left;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
}
.comments ul.list li .word h3 a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.comments ul.list li .word p a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 12px;
}
