.essay ul li {
  text-align: left;
  font-size: 12px;
  position: relative;
  margin: 0 0 15px 0;
  height: auto;
}
.essay ul li .photo {
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  padding: 2px;
}
.essay ul li .photo img {
  min-height: 80px;
  border-radius: 5px;
}
.essay ul li .content {
  margin-left: 90px;
}
.essay ul li .content spantime {
  text-align: right;
}
.news dl {
  text-align: left;
  line-height: 2;
}
.news dl dt {
  display: block;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  font-size: 14px;
}
.news dl dd {
  display: block;
  width: 15%;
  float: right;
  font-size: 12px;
}
