.gift ul.gift-list li.item > div {
  position: relative;
  width: 310px;
  height: 350px;
  border: solid 1px #cdcdcd;
  border-radius: 5px;
  overflow: hidden;
  margin: 20px 0;
}
.gift ul.gift-list li.item > div:hover {
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -moz-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  -webkit-box-shadow: 0 5px 10px rgba(67, 72, 84, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(67, 72, 84, 0.3);
  -o-box-shadow: 0 5px 10px rgba(67, 72, 84, 0.3);
  box-shadow: 0 5px 10px rgba(67, 72, 84, 0.3);
}
.gift ul.gift-list li.item > div .img-mask {
  width: 100%;
  height: 240px;
  display: block;
  overflow: hidden;
}
.gift ul.gift-list li.item > div .img-mask img {
  width: 100%;
  display: block;
}
.gift ul.gift-list li.item > div h3 {
  padding: 5px 10px;
  line-height: 2;
  text-align: left;
}
.gift ul.gift-list li.item > div h3 a {
  font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
  color: #985D3C;
  font-size: 13px;
  font-weight: bold;
}
.gift ul.gift-list li.item > div .attribute {
  position: absolute;
  width: 100%;
  bottom: 10px;
  right: 5px;
}
.gift ul.gift-list li.item > div .attribute span {
  display: inline-block;
  width: 22%;
}
.gift ul.gift-list li.item > div .attribute .tmall {
  background-image: url('../images/taobao/shop_source.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 24px;
  height: 18px;
  overflow: hidden;
}
.gift ul.gift-list li.item > div .attribute .tao {
  background-repeat: repeat-x;
  background-image: url('../images/taobao/shop_source.png');
  background-position: 102px 0px;
  width: 24px;
  height: 18px;
  overflow: hidden;
}
.gift ul.gift-list li.item > div .attribute .like {
  background-image: url('../images/taobao/like.png');
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 18px;
}
.gift-info {
  padding-bottom: 50px;
}
.gift-info .title {
  color: #E79005;
}
.gift-info .description {
  text-indent: 30px;
  line-height: 2;
  text-align: left;
  font-size: 16px;
}
.more-btn h3 {
  border: solid 1px #cdcdcd;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 15px;
  padding: 5px 0;
}
.gift-detail {
  padding-top: 20px;
}
.gift-detail .columns {
  border: solid 1px #cdcdcd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5);
  -moz-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5);
  -ms-box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5);
  box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.5);
}
.gift-detail .gift-main .author {
  text-align: left;
}
.gift-detail .gift-main .author .photo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 20px;
}
.gift-detail .gift-main .author .text {
  color: #999;
  font-size: 14px;
}
.gift-detail .gift-main .author .text i {
  padding: 0 5px;
  font-style: normal;
  color: #7F4B2F;
}
.gift-detail .gift-main .item .pic {
  float: left;
  width: 50%;
}
.gift-detail .gift-main .item .pic .gallery {
  width: 100%;
}
.gift-detail .gift-main .item .pic .gallery li {
  width: 50px;
  height: 50px;
  border: solid 1px #cdcdcd;
  float: left;
  cursor: pointer;
  padding: 1px;
  margin: 0 10px;
}
.gift-detail .gift-main .item .pic .gallery li img {
  width: 46px;
  height: 46px;
}
.gift-detail .gift-main .item .attribute {
  float: left;
  width: 45%;
  margin-left: 10px;
}
.gift-detail .gift-main .item .attribute .name {
  text-align: left;
}
.gift-detail .gift-main .item .attribute .purchase {
  text-align: left;
}
.gift-detail .gift-main .item .attribute .purchase span,
.gift-detail .gift-main .item .attribute .purchase a {
  display: inline-block;
  font-size: 12px;
  color: #999;
  line-height: 2;
}
.gift-detail .gift-main .item .attribute .purchase span.shop,
.gift-detail .gift-main .item .attribute .purchase a.shop {
  padding-left: 10px;
  margin-left: 10px;
  border-left: solid 1px #999;
}
.gift-detail .gift-main .item .attribute .purchase span.buy,
.gift-detail .gift-main .item .attribute .purchase a.buy {
  border: solid 1px #999;
  padding: 0px 14px;
  float: right;
  border-radius: 2px;
}
.gift-detail .gift-main .item .attribute .actions {
  font-size: 12px;
  color: #999;
  text-align: left;
}
.gift-detail .gift-main .item .attribute .actions span,
.gift-detail .gift-main .item .attribute .actions a {
  display: inline-block;
  line-height: 2;
  cursor: pointer;
}
.gift-detail .gift-main .item .attribute .actions span.like,
.gift-detail .gift-main .item .attribute .actions a.like {
  width: 70px;
  background-image: url("../images/taobao/heart.png");
  background-repeat: no-repeat;
  padding-left: 24px;
}
.gift-detail .gift-main .message {
  margin-top: 20px;
  border-top: solid 1px #cdcdcd;
}
.gift-detail .gift-main .message ul li.item {
  text-align: left;
  font-size: 13px;
  padding: 10px 0;
  line-height: 1.67;
  border-top: solid 1px #cdcdcd;
}
.gift-detail .gift-main .message ul li.item:first-child {
  border-top: none;
}
.gift-detail .gift-main .message ul li.item .customer {
  margin: 0 0 10px 0;
}
.gift-detail .gift-main .message ul li.item .customer .photo {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
  margin-right: 10px;
}
.gift-detail .gift-main .message ul li.item .customer .name {
  color: #985D3E;
  text-align: left;
}
.gift-detail .gift-main .message ul li.item .customer .time {
  float: right;
  color: #999;
}
.gift-detail .gift-main .message ul li.item .talk {
  overflow: hidden;
}
.gift-detail .gift-main .message ul li.item .talk .action {
  float: right;
  color: #985D3E;
  cursor: pointer;
}
.gift-detail .aside {
  padding: 20px 0 20px 10px;
}
.squad {
  margin-top: 20px;
}
.squad .gift .img-group {
  border-bottom: solid 1px #cdcdcd;
}
.squad .gift .img-group img {
  border: solid 1px #CDCDCD;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
  -o-box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
  box-shadow: 0 2px 2px rgba(67, 72, 84, 0.2);
}
.squad .gift p {
  font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
  color: #985D3C;
  font-size: 14px;
  line-height: 2;
}
.connect-qq,
.connect-sina {
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  line-height: 50px;
  clear: both;
}
.connect-qq img,
.connect-sina img {
  border: solid 1px #cdcdcd;
}
.connect-qq span,
.connect-sina span {
  margin-left: 10px;
  font-size: 14px;
  color: #985d3c;
}
.squad-list {
  margin-top: 20px;
}
.squad-list .squad-item {
  clear: both;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: solid 1px #cdcdcd;
  overflow: hidden;
}
.squad-list .squad-item:first-child {
  border-top: none;
  padding-top: 0;
}
.squad-list .squad-item .picture {
  display: block;
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
.squad-list .squad-item .text {
  overflow: hidden;
}
.squad-list .squad-item .text h3 a {
  color: #0079a1;
}
.squad-list .squad-item .text p {
  text-indent: 30px;
  font-size: 14px;
}
.comment .title {
  border-top: solid 3px #E79005;
  font-size: 16px;
  text-align: left;
  line-height: 3;
}
.comment .list {
  margin-left: 0;
}
.comment .list li {
  overflow: hidden;
  padding: 18px 0;
  border-top: 1px solid #EFEFEF;
  font: 12px Helvetica, Arial, sans-serif;
}
.comment .list li .customer-info {
  text-align: left;
  margin-bottom: 10px;
}
.comment .list li .customer-info .photo {
  float: left;
  margin-right: 10px;
}
.comment .list li .customer-info .photo img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.comment .list li .customer-info .name {
  color: #7F4B2F;
}
.comment .list li .customer-info .date {
  float: right;
  color: #999;
}
.comment .list li .content {
  overflow: hidden;
  font: 12px Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 40.063em) {
  .squad-item .picture {
    width: 100%!important;
    text-align: center;
  }
  .squad-item .text {
    width: 100%;
  }
}
