#header_1 {
  width: 100%;
  height: auto;
  padding: 10px 0 5px;
}
#header_1 p,
#header_1 button {
  margin-bottom: 0;
}
#header_1 .search-btn {
  height: 37px;
  line-height: 37px;
  padding: 0;
}
#header_1 .hotwords {
  text-align: left;
  margin-left: 20px;
}
#header_1 .nav ul li {
  float: left;
  padding-bottom: 2px;
  text-align: left;
}
#header_1 .nav ul li a {
  color: #791115;
  border-left: solid 1px #cdcdcd;
  padding-left: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.footer {
  width: 100%;
  border-top: solid 1px #cdcdcd;
  background: #666;
  opacity: 0.7;
  font-size: 12px;
  position: fixed;
  bottom: 0;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul li {
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
.footer ul li a {
  color: #fff;
}
.footer ul li.active a {
  color: #f7831b;
  font-weight: bold;
}
