ul {
  height: 20px;
}
ul li {
  height: 10px;
}
ul li div span,
ul li link {
  margin: 10px;
  color: red;
}
ul div,
ul p {
  border: 1px;
}
ul div.hello,
ul p.hello {
  color: green;
}
ul div :what,
ul p :what {
  color: blue;
}
ul a b {
  color: blue;
}
div {
  height: 20px;
}
@media (hello) {
  div {
    color: red;
  }
  div pre {
    color: orange;
  }
}
.hi pre {
  color: red;
}
b .something {
  color: blue;
}
b.something {
  color: blue;
}
.underline {
  border-bottom: 1px solid green;
}
#header {
  color: black;
  border: 1px solid #dd44dd;
}
#header .navigation {
  font-size: 12px;
}
#header .navigation a {
  border-bottom: 1px solid green;
}
#header .logo {
  width: 300px;
}
#header .logo :hover {
  text-decoration: none;
}
